CompileFlags:
  CompilationDatabase: build
  Remove:
    - -mllvm
    - -xclang
    
Index:
  Background: Build
  StandardLibrary: Yes

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Hover:
  ShowAKA: Yes

Diagnostics:
  MissingIncludes: Strict
  ClangTidy:
    Add: 
      - performance-*
      - bugprone-*
      - readability-*
      - modernize-*
    Remove:
      # - readability-*
      # - modernize-*
      - modernize-use-trailing-return-type
      - readability-braces-around-statements
      - readability-magic-numbers
      - readability-implicit-bool-conversion
      - readability-identifier-naming
      - readability-function-cognitive-complexity
      - readability-function-size
      - readability-uppercase-literal-suffix
