CompileFlags:
  Add: 
    - -std=c++23
    - -Wall
    - -Wextra
    - -DYAZE_ENABLE_NFD=1
    - -DYAZE_ENABLE_IMGUI_TEST_ENGINE=1
    - -DYAZE_LIB_PNG=1
  Remove:
    - -mllvm
    - -xclang
    
Index:
  Background: Build
  StandardLibrary: Yes

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Hover:
  ShowAKA: Yes

Diagnostics:
  ClangTidy:
    Add: 
      - readability-*
      - modernize-*
      - performance-*
    Remove:
      - modernize-use-trailing-return-type
      - readability-braces-around-statements
