[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ext/SDL"]
	path = ext/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "ext/asar"]
	path = ext/asar
	url = https://github.com/RPGHacker/asar.git
[submodule "ext/imgui_test_engine"]
	path = ext/imgui_test_engine
	url = https://github.com/ocornut/imgui_test_engine.git
[submodule "ext/nativefiledialog-extended"]
	path = ext/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "assets/asm/usdasm"]
	path = assets/asm/usdasm
	url = https://github.com/spannerisms/usdasm.git
[submodule "ext/json"]
	path = ext/json
	url = https://github.com/nlohmann/json.git
[submodule "ext/httplib"]
	path = ext/httplib
	url = https://github.com/yhirose/cpp-httplib.git
