[submodule "src/Library/imgui"]
	path = src/Library/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "src/Library/ImGuiFileDialog"]
	path = src/Library/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "src/Library/ImGuiColorTextEdit"]
	path = src/Library/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
